.container {
	max-width: 1296px;
	margin: 0 auto;
}

h2{
	font-size: 64px;
	color: white;
	margin-bottom: 36px;
}

h3{
	font-size: 20px;
}

.nav,
.header {
	background: black;
}

.nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #D1D1D1;
}

.nav a {
	display: block;
	color: #D1D1D1;
	padding: 40px 0;
}

.nav a:hover {
	color: red;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}

.people {
	padding-top: 72px;
	padding-bottom: 32px;
}

.title p {
	color: white;
	font-size: 64px;
}

.name {
	color: #00FFA3;
	text-align: right;
	font-size: 128px;
	font-weight: 400;
}

.btn-flex{
	display: flex;
	justify-content: flex-end;
}

.btn {
	color: black;
	padding: 12px 24px;
	border-radius: 32px;
	font-size: 16px;
	background: white;
}

.btn:hover {
	background: #00FFA3;
	color: white;
}

.arrow {
	margin-left: 4px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.introduction {
	background: url(../img/background-img.png);
	background-size:cover;
	background-size:contain;
}

.introduction-content{
	display: flex;
	justify-content: center;
	gap: 24px;
}

.section-left{
	width: 526px;
	padding-top: 160px;
}

.section-left p{
	font-size: 24px;
	color: white;
	margin-bottom: 32px;
}

.section-left img{
	display: inline;
}

.sparkle-medium{
	margin: 0 16px;
}

.section-right {
	display: flex;
	gap: 24px;
	padding: 160px 0;
}

.about-me-content{
	display: flex;
	gap: 134px;
	align-items: center;
}

.about-me .cards{
	width: 636px;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.card{
	width: 306px;
	padding: 16px;
	color: #15161D;
	border: 1px solid rgba(227, 227, 227, 1);
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.about-me-title{
	width: 526px;
	padding: 160px 0;
}

.about-me-title h2{
	color: black;
}

.about-me-title p{
	font-size: 24px;
	color: #15161D;
}

.socia{
	background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.contact h2{
	width: 541px;
	margin: 0;
}

.socia-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact{
	display: flex;
	gap:16px;
}

.social-icon{
	display: flex;
	justify-content: space-between;
	padding: 96px 0;
	gap: 20px;
}

.social-icon img{
	transition: transform 0.5s ease-in-out;
}

.social-icon img:hover {
	box-shadow: 0px 0px 16px 3px #9094FFE5;
	border-radius: 40px;
	transform: scale(1.1);
}	

.porject h2{
	color: black;
	width: 746px;
	margin: 0;
	margin-left: auto;
	padding-top: 160px;
	padding-bottom: 16px;
}

.porject-content{
	display: flex;
	justify-content: space-between;
	gap: 24px;
	padding-bottom: 160px;
}

.porject-2{
	display: flex;
	justify-content: space-between;
	gap: 24px;
	margin-bottom: 28px;
}

.porject-2 p{
	width: 636px;
	color: #15161D;
}

.porject-2-content{
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	align-items: flex-start;
}

.porject-3{
	display: flex;
	justify-content: space-between;
}

.porject-2-content .btn{
	background: black;
	color: white;
}

.porject-2-content .btn:hover{
    background: #00FFA3;
    color: black;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

}

.footer{
	background: black;
}

.footer p{
	color: white;
	text-align: center;
	padding: 40px 0;
}